@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
:root {
  --primary-color: #172755;
  --secondary-color: #8794ba;
  --pink: #ef2a82;
  --card-color: #0f1f4b;
  --font-family: "Roboto", sans-serif;
  --background: #eff2ff;
  --line: #2a407c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.app {
  background-color: var(--background);
  font-family: var(--font-family);
  position: relative;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background-color: var(--primary-color);
  width: 0.2rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--pink);
  border-radius: 1rem;
}

.home {
  height: 102vh;
  background-color: var(--pink);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 78%, 0 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 78%, 0 100%);
  margin-bottom: 4rem;
}
.home .main-container {
  height: 100vh;
  position: relative;
  background-color: var(--primary-color);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 78%, 0 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 78%, 0 100%);
  padding: 2rem 10rem;
}
.home .main-container .backgrounds .background1 {
  position: absolute;
  left: 0;
  top: 0;
}
.home .main-container .backgrounds .background2 {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
}
.home .main-container .home-container {
  height: 100%;
}
.home .main-container .home-container .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  width: 50%;
  height: 90%;
  justify-content: center;
}
.home .main-container .home-container .content .title-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.home .main-container .home-container .content .title-container .home-title-image {
  display: none;
}
.home .main-container .home-container .content .title-container .title {
  color: white;
  font-size: 3.5rem;
}
.home .main-container .home-container .content .title-container .description {
  color: var(--secondary-color);
  font-size: 1.1rem;
}
.home .main-container .home-container .content button {
  color: white;
  background-color: var(--pink);
  padding: 0.7rem 3.4rem;
  border-radius: 2rem;
  border: none;
  font-family: var(--font-family);
  font-weight: bold;
  cursor: pointer;
}
@media screen and (min-width: 280px) and (max-width: 1080px) {
  .home {
    height: 140vh;
  }
  .home .main-container {
    height: 138vh;
    padding: 0rem;
  }
  .home .main-container .backgrounds {
    display: none;
  }
  .home .main-container .home-container .content {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    margin-top: 2rem;
    padding: 1rem;
  }
  .home .main-container .home-container .content .title-container .home-title-image {
    display: block;
    max-inline-size: 100%;
  }
  .home .main-container .home-container .content .title-container .title {
    font-size: 2rem;
  }
}

.home-images {
  position: absolute;
  top: 15vh;
  left: 55%;
}
.home-images .image-container {
  position: relative;
}
.home-images .image-container .image1 {
  position: absolute;
}
.home-images .image-container .image1 img {
  max-inline-size: auto;
}
.home-images .image-container .image2 {
  position: absolute;
  top: 18vh;
  left: -5vw;
}
.home-images .image-container .image2 img {
  max-inline-size: auto;
}
@media screen and (min-width: 280px) and (max-width: 1080px) {
  .home-images {
    display: none;
  }
}

nav {
  display: flex;
  align-items: center;
  gap: 5rem;
}
nav .brand-container .toggle {
  display: none;
}
nav .links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
nav .links-container ul {
  display: flex;
  list-style: none;
  gap: 6rem;
}
nav .links-container ul li a {
  color: var(--secondary-color);
  text-decoration: none;
}
nav .links-container .auth-buttons {
  display: flex;
  gap: 2rem;
}
nav .links-container .auth-buttons button {
  font-family: var(--font-family);
  background-color: var(--trasnparent);
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  border: 3px solid var(--line);
  color: var(--secondary-color);
  cursor: pointer;
}
nav .links-container .auth-buttons button:nth-of-type(1) {
  border: none;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 5rem 0;
  justify-content: center;
  align-content: center;
  padding: 0 10rem;
  text-align: center;
}
.features .title-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.features .title-container .title {
  font-size: 2rem;
  color: var(--primary-color);
}
.features .title-container .description {
  padding: 0 2rem;
  color: var(--secondary-color);
  line-height: 1.5rem;
}
.features .content {
  display: flex;
  gap: 3rem;
}
.features .content .feature {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.features .content .feature .title {
  color: var(--primary-color);
}
.features .content .feature .description {
  color: var(--secondary-color);
  line-height: 1.5rem;
}
@media screen and (min-width: 280px) and (max-width: 1080px) {
  .features {
    padding: 0 1.3rem;
    text-align: start;
  }
  .features .title-container .description {
    padding: 0;
  }
  .features .content {
    flex-direction: column;
  }
  .features .content .feature {
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
  }
}

.services {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 10rem 0;
  padding: 0 10rem;
}
.services .service {
  display: flex;
  gap: 5rem;
}
.services .service .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.services .service .content .title {
  font-size: 2rem;
  color: var(--primary-color);
}
.services .service .content .description {
  color: var(--secondary-color);
  line-height: 1.5rem;
}
@media screen and (min-width: 280px) and (max-width: 1080px) {
  .services {
    padding: 0 1.3rem;
    text-align: start;
  }
  .services .title-container .description {
    padding: 0;
  }
  .services .service {
    flex-direction: column;
  }
  .services .service .image img {
    max-inline-size: 100%;
  }
  .services .service:nth-of-type(2) {
    flex-direction: column-reverse;
  }
}/*# sourceMappingURL=index.css.map */